# MariaDB root password
INIT_SEAFILE_MYSQL_ROOT_PASSWORD=

# Seafile database user and password
SEAFILE_MYSQL_DB_USER=seafile
SEAFILE_MYSQL_DB_PASSWORD=

# Seafile admin email and password
INIT_SEAFILE_ADMIN_EMAIL=
INIT_SEAFILE_ADMIN_PASSWORD=

# A random string with a length of no less than 32 characters
JWT_PRIVATE_KEY=
